spring:
  application:
    name: "configserver"
  profiles:
    # active: native
    active: git
  cloud:
    config:
      server:
        # native:
          # searchLocations: "classpath:/config"
        git:
          uri: "https://github.com/mostafa2742002/Ecommerce-Microservices-config.git"
          default-label: "main"
          timeout: 5
          clone-on-start: true
          force-pull: true
  # rabbitmq:
  #   host: localhost
  #   port: 5672
  #   username: guest
  #   password: guest

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true


server:
  port: 8071
